body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 3em;
}

h4 {
    font-size: 2em;
}

p {
    font-size: 1em;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    background-color: #13435f;
    color: white;
}

.header-name {
    float: left;
    font-size: 4em;
    padding-left: 10px;
    margin: 10px;
}

.header-description {
    float: right;
    font-size: 2em;
    padding: 10px 10px;
    margin: 20px;
}

.container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #13435f;
    color: white;
}

.main-text {
    width: 40%;
    padding: 130px;
    text-align: center;
}

.main-image {
    height: 400px;
}

.card-container {
    display: flex; 
    justify-content: space-evenly;
    padding-top: 20px;
    flex-wrap: wrap;
}

.card {
    height: 100%;
    width: 300px;
    text-align: center;
}

.card-image {
    height: 275px;
    width: 290px;
    border-radius: 10px;
}

.card h4 {
    padding-top: 10px;
}

.card p {
    padding-top: 20px;
}

hr {
    width: 95%;
    margin-top: 1em;
    margin-bottom: 1em;
    border-color: #13435f;
}

.contact {
    text-align: center;
}

.contact-header {
    padding: .5em;
}

input, textarea {
    border: 1px solid #5a5959;
    border-radius: 10px;
    padding: .5em;
    margin: 1em;
    font-size: 1em;
}

.fas, .fab {
    color: #13435f;
}

footer {
    text-align: center;
}

footer h5 {
    margin: 1em;
}
